.orange {
    color: #ff8b38;
}

.bg-white {
    background-color: white;
}

.white {
    color: white;
}

.bg-black {
    background-color: #000000;
}

.light-gray {
    color: #a7a7a7;
}

.bg-orange {
    background-color: #ff9b51;
}

.bg-gray {
    background-color: #f5f5f5;
}

.gray {
    color: #cccccc;
}

.bg-dark-gray {
    background-color: #333333;
}

.gray-text {
    color: #86878b;
}